$maxWidth: 1449;

$colorRed: #FF0000;

$colorBlack: #000000;

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize +$addSize * 0.7;

    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }

    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

%headerText {
    font-weight: 700;
    @include adaptiv-font(30, 9);
}

form {
    width: 70%;

    @media(max-width: 700px) {
        width: 90%;
    }
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 30px 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;



    .form-container__title {
        width: 25%;
        @include adaptiv-font(21, 12);
        color: $colorBlack;

        .header-form__title {
            @extend %headerText;
            color: #666666;
        }
    }

    .form-container__input {
        width: 40%;
        margin-left: 10px;

        .inputForm {
            width: 100%;
            height: 30px;
            cursor: pointer;
        }

        .error {
            border: 1px solid $colorRed;
        }

        select {
            @extend .inputForm
        }

        .form-container__input__error {
            @include adaptiv-font(12, 9);
            color: $colorRed;
        }

        .header-form__name {
            @extend %headerText;
            color: $colorBlack;
        }

        .input-status-form {
            @extend .inputForm;
            display: none;
        }

        .is-active-input {
            display: inline-block;
        }

        .block-status {
            padding: 13px 0 13px 10px;
            display: flex;
            align-items: center;
            width: 130%;
            background-color: #EAEAEA;
            position: relative;
            color: #404040;
            @include adaptiv-font(14, 9)
        }

        .is-active-block {
            display: none;
        }

        .block-status-square {
            width: 10px;
            height: 10px;
            background-color: #EAEAEA;
            position: absolute;
            top: -5px;
            left: 10px;
            transform: rotate(45deg);
        }
    }

    .form-container__checkbox-form {
        @extend .form-container__input;
        display: flex;
        align-items: center;

        .checkbox-form {
            cursor: pointer;
        }

        .container-description-checkbox-form {
            .container-description-checkbox-form__container-label {
                margin-left: 10px;
                @include adaptiv-font(16, 9);
                width: 250%;

                .label-checkbox-form {
                    cursor: pointer;
                }
            }
        }

        .form-container__button-form {
            background: #71C838;
            box-shadow: 0px 1px 0px #539D22;
            border: none;
            padding: 10px 20px;
            color: #FFFFFF;
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
            @include adaptiv-font(18, 10);
            cursor: pointer;
        }
    }

    .form-container__description {
        padding-left: 20px;
        width: 45%;
        @include adaptiv-font(12, 8);
        color: #999999;

        .desctiption-text {
            width: 85%;
        }

        .header-form__description {
            @include adaptiv-font(12, 8);
            color: #0C77BB;
            border-bottom: 1px dashed #0C77BB;
            width: fit-content;
            cursor: pointer;
        }
    }
}

.container-description-button-form {
    margin-left: 12px;
    @include adaptiv-font(12, 8);
    color: #999999;

    .description-button__last-change {
        width: 250%;
    }
}

.line-hight-block {
    border: 1px solid #E5E4E4;
}

.form-container__header {
    align-items: end;
    margin-bottom: 15px;
}

.form-container__status-form {
    margin-top: 0;
}

input {
    padding-left: 10px;
}

select {
    padding-left: 5px;
}